<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <app-menu-login-header></app-menu-login-header>
          <form formGroup="formulario">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" class="form-control input-underline input-lg" formControlName="nome" placeholder="Nome Completo">
                  </div>

                  <div class="form-group">
                      <input type="text" class="form-control input-underline input-lg" formControlName="matricula" placeholder="Matrícula">
                  </div>

                  <div class="form-group">
                      <input type="password" class="form-control input-underline input-lg" formControlName="senha" placeholder="Senha">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control input-underline input-lg" placeholder="Confirmar Senha">
                  </div>
              </div>
              <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Registrar </a>&nbsp;
              <a class="btn rounded-btn" [routerLink]="['/login']"> Entrar </a>
          </form>
      </div>
  </div>
</div>
